*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #F0F0F0;
}

.main__cards{
    background-color: #F7F7FF;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 120px 100px repeat(3, 1fr);
    grid-template-areas:
                        "title"
                        "time"
                        "basic"
                        "profesional"
                        "master";
    
}

.main__cards--title{
    grid-area: title;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-size: 2.5rem;
    color: #6D708F;
    
}

.cards__time{
    width: 100%;
    height: 50px;
    grid-area: time;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cards__time span{
    margin-left: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #B3B3C2;
    align-self: center;
}

.cards__time .cards__time--icon{
    width: 30px;
    height: 30px;
    background-image: url('./asests/encender.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards__time--icon:focus{
    background-color: blue;
}

.card__basic{
    grid-area: basic;
    display: flex;
    justify-content: center;
}

.card__profesional{
    grid-area: profesional;
}

.card__master{
    grid-area: master;
}

.card__basic-container{
    min-width: 260px;
    max-width: 280px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    position: relative;
    justify-content: center;

}

.card__basic-container h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #7A7E8F;
}

.main__cards .cards--descriptions{
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    color: #777890;
    border-bottom: 1px solid #E7E6E8;
}

.card--price{
    width: 90%;
    font-size: 6rem;
    text-align: center;
    color: #494E5E;
}

.card--signo-dollar{
    font-size: 3rem;
    position: absolute;
    top: 80px;
    left: 40px;
}




